  
<!DOCTYPE html>
<html lang="ru">

  <head>
    <meta charset="utf-8">
    <title>backbone test</title>
    <!-- <link rel="stylesheet" href="todos.css"/> -->
  </head>

  <body>

    <div id="app">
      <h1>Элементы</h1>
      <div class="list"></div>
      <h2>Добавить новый</h2>
      <div class="new"></div>
    </div>

    <!-- Templates -->
    <script type="text/template" id="add_template">
      <input type="button" class="add_button" value="Добавить" />
    </script>

    <script type="text/template" id="show_template">
      <p><%= error %> - <%= title %> - <%= status %></p>
      <p>
        <input type="button" class="delete_button" value="Удалить" />
        <input type="button" class="edit_button" value="Редактировать" />
      </p>
    </script>

    <script type="text/template" id="edit_template">
      <input type="text" class="title" value="<%= title %>"/>
      <input type="text" class="status" value="<%= status %>"/>
      <div class="error"><%= error %></div>
      <input type="button" class="save_button" value="Сохранить" />
      <input type="button" class="cancel_button" value="Отмена" />
    </script>

    <!-- Scripts -->

    <script src="assets/js/json2.js"></script>
    <script src="assets/js/jquery-1.11.2.js"></script>
    <script src="assets/js/underscore.js"></script>
    <script src="assets/js/backbone.js"></script>
    <script src="assets/js/backbone.localStorage.js"></script>

    <script src="post_model.js"></script>
    <script src="post_list.js"></script>
    <script src="post_view.js"></script>
    <script src="app_view.js"></script>
    <script src="main.js"></script>

  </body>
</html>